body {
  background: #ffffff;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", georgia, Garamond, times, serif;
  font-size: 121%;
  color: #000000;
  margin: 10px;
  text-rendering: optimizeLegibility;
}
a,
a:link {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #555555;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #aaaaaa;
}
hr {
  height: 1px;
  background-color: #000000;
  border: 0;
  clear: both;
}
.nav-left {
  float: left;
  line-height: 150%;
  text-align: center;
  max-width: 40%;
  font-family: "Helvetica Neue Light", "HelveticaNeue-light", "HelveticaNeue", Helvetica, Verdana, Arial, sans-serif;
  font-weight: lighter;
  padding-bottom: 0.67em;
}
.nav-right {
  float: right;
  line-height: 150%;
  text-align: center;
  max-width: 40%;
  font-family: "Helvetica Neue Light", "HelveticaNeue-light", "HelveticaNeue", Helvetica, Verdana, Arial, sans-serif;
  font-weight: lighter;
  padding-bottom: 0.67em;
}
#wrapper {
  margin: 0 auto;
  max-width: 37em;
  min-width: 27em;
}
#post-list {
  font-size: 115%;
  margin: 0 auto;
  max-width: 20em;
}
#post-list .year {
  color: #aaaaaa;
  font-size: 140%;
}
#post-list .month {
  color: #777777;
  font-size: 125%;
}
#post-list .day {
  float: left;
  clear: both;
  text-align: center;
  width: 4em;
}
#post-list .index-post-title {
  padding-left: 4em;
}
#header {
  font-family: "Helvetica Neue Light", "HelveticaNeue-light", "HelveticaNeue", Helvetica, Verdana, Arial, sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 120%;
}
#header ul {
  display: inline;
  list-style: none;
  padding-left: 0;
}
#header ul li {
  display: inline;
  line-height: 200%;
  margin: 0 1em;
  white-space: nowrap;
}
#header #home-link {
  color: #000000;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue Light", "HelveticaNeue-light", "HelveticaNeue", Helvetica, Verdana, Arial, sans-serif;
  font-weight: lighter;
  margin: 1em 0 0 0;
}
.post-header {
  font-family: "Helvetica Neue Light", "HelveticaNeue-light", "HelveticaNeue", Helvetica, Verdana, Arial, sans-serif;
  font-weight: lighter;
}
.post-header .post-title {
  margin-top: 0.75em;
  font-size: 1.9em;
}
.post-header .post-date {
  line-height: 150%;
  text-align: right;
  width: 100%;
}
.post {
  line-height: 145%;
}
.post img {
  max-width: 100%;
}
.post a,
.post a:link {
  text-decoration: underline;
}
.fixed-font {
  font-family: Menlo, "Deja Vu Sans Mono", Consolas, monospace;
}
.highlight {
  -webkit-overflow-scrolling: touch;
}
pre {
  line-height: 120%;
  padding: 0.5em;
  overflow: auto;
}
code {
  font-size: 11pt;
  font-family: Menlo, "Deja Vu Sans Mono", Consolas, monospace;
}
#beast-mode {
  font-size: 50%;
  font-family: Menlo, "Deja Vu Sans Mono", Consolas, monospace;
  max-width: 20em;
  margin: 0 auto;
  padding: 2em 0;
  cursor: pointer;
  text-align: center;
  opacity: 0.2;
}
#beast-mode:hover {
  text-decoration: underline;
  opacity: 1.0;
}
#beast-mode span {
  color: #ffffff;
  background-color: #000000;
  padding: 0.5em;
}
.image-border {
  left: -4em;
  border: 2em #111 solid;
}
#gallery-list {
  text-align: center;
  background-color: #222;
  margin: 1em -10px 0px -10px;
  min-width: 27em;
  color: #555555;
}
#gallery-list a,
#gallery-list a:link {
  color: #aaaaaa;
  text-decoration: none;
}
#gallery-list a:visited {
  color: #777777;
}
#gallery-list a:active {
  color: #ffffff;
}
.gallery-index {
  display: inline-block;
  text-align: center;
  padding: 2em 0 3em 0;
  margin: 1em 2em;
  min-width: 300px;
  min-height: 300px;
}
.gallery-index img {
  max-height: 400px;
  max-width: 400px;
  left: -4em;
  border: 2em #111 solid;
}
.gallery {
  text-align: center;
  background-color: #222;
  margin: 1em -10px 0px -10px;
  min-width: 27em;
  color: #555555;
}
.gallery a,
.gallery a:link {
  color: #aaaaaa;
  text-decoration: none;
}
.gallery a:visited {
  color: #777777;
}
.gallery a:active {
  color: #ffffff;
}
.gallery .gallery-image-wrapper {
  height: 400px;
  width: 400px;
  display: inline-block;
  margin: 4em;
  padding: 0;
  position: relative;
}
.gallery .gallery-image {
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  max-height: 100%;
  max-width: 100%;
  left: -4em;
  border: 2em #111 solid;
}
.gallery .disclaimer-cc-by-sa {
  font-size: 50%;
  padding: 1em;
}
